{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
    <title>Chatbot</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> Olaf </h1>
        </div>

        <div class="body">
            
            <ul id="chat-menu">
                <li class="message">Twoja wiadomość : <br>{{ user_message }}</li>
                <li class="message user_message">Olaf : <br>{{ bot_message }}</li>
            </ul>

            <br>
            <br>
            <a href="email_form">
            <div class="link">
                <a href="email_form">Jeśli potrzebujesz pomocy, wyślij mi wiadomość, klikając na ten napis</a>
            </div>
            </a>
            
        </div>
        <div class="footer">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="submit">Wyślij</button>
            </form>
        </div>
    </div>
    <script src="{% static 'chat.js' %}"></script>

</body>
</html>

